body {
  margin: 0px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar-div {
  display: flex;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 70px;
  background-color: #d4f1f4;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  flex-direction: row;
}
.nav-options {
  color: #050505;
  text-decoration: none;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#nav-company-name {
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #050505;
  text-decoration: none;
}

.nav-left {
  padding: 10px;
}

#singlepage {
  display: flex;
  flex-direction: column;
}

#card {
  height: 330px;
  width: 210px;
  margin: 5px;
  background-color: #f5f1e3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#product-list {
  display: flex;
  height: 100vh;
  margin: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

#cart {
  width: 100%;
  background-color: #f5f1e3;
}

.flex-box {
  display: flex;
}

#product-image-card {
  margin: 5px;
  width: 90px;
  height: 100px;
  align-self: center;
}

.product-title-card {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 2px;
  word-wrap: normal;
  font-size: medium;
  width: 90%;
  height: 15%;
  overflow: hidden;
  overflow-wrap: normal;
  text-overflow: ellipsis;
  text-align: center;
  flex-grow: 1;
}

.product-content-card {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 2px;
  word-wrap: normal;
  font-size: medium;
  width: 90%;
  height: 20%;
  overflow: hidden;
  overflow-wrap: normal;
  text-overflow: ellipsis;
  text-align: center;
  flex-grow: 2;
}

.product-price-card {
  align-self: center;
  margin: 2px;
}

#single-product {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f5f1e3;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#single-product-image {
  height: 65vh;
  width: 35vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#single-product-details {
  display: flex;
  padding: 10px;
  height: 65vh;
  width: 45vw;
  background-color: grey;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#single-product-title {
  width: 80%;
  font-size: 20;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

#single-product-description {
  width: 80%;
  font-size: 14;
  text-align: left;
}

#single-product-price {
  width: 80%;
  font-size: 14;
  text-align: left;
}

#user-card {
  height: 80px;
  width: 100%;
  margin: 5px;
  background-color: #f5f1e3;
  display: flex;
  justify-content: space-between;
}

#user-list {
  display: flex;
  height: 100vh;
  margin: 50px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

#homepage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: contain;
  background-color: #f5f1e3;
}

#home-image {
  height: 80%;
}

#logouttag {
  color: #050505;
  text-decoration: none;
}

.text-single-product {
  font-family: "Gemunu Libre", sans-serif;
}
